<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Candidate.Data.Properties.Settings.PlaygroundDBConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=PlaygroundDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>