<div class="row">
    <div class="well col-md-4 col-md-offset-4">
        <a style="font-size: large" href="/home/Candidate">New Candidate</a>
        <br />
        <a style="font-size: large" href="/home/Pending">Pending Candidates</a>
        <br />
        <a style="font-size: large" href="/home/Confirmed">Confirmed Candidates</a>
        <br />
        <a style="font-size: large" href="/home/Rejected">Rejected Candidates</a>
    </div>
</div>